### 2739 구구단

In [16]:
#구구단
N=int(input())

if (N>=1 and N<=9):
    for i in range(1,10):
        print("%d * %d = %d" %(N, i, N*i))

10

### 10950 A+B-3

In [4]:
T=int(input())

for i in range(T):
    A,B=map(int,input().split(" "))
    print(A+B)

2
1 2
3
1 3
4

### 8393 합

In [18]:
#합
N=int(input())

sum=0
for i in range(1,N+1):
    sum=sum+i
    
print(sum)

3
6

### 15552 빠른 A+B

In [26]:
#빠른 A+B
import sys
T = int(input())
for i in range(T) :
    a, b = map(int, sys.stdin.readline().split())
    print(a + b)

### 2741 N찍기

In [33]:
#N찍기
T=int(input())
sum=0
for i in range(T):
    sum+=1
    print(sum)

5
1
2
3
4
5

### 2742 기찍N

In [38]:
#기찍N
T=int(input())
sum=0
for i in range(T): 
    T-=1
    print(T+1)

5
5
4
3
2
1

### 11021 A+B-7

In [1]:
#A+B - 7
T=int(input())
for i in range(T):
    A,B=map(int,input().split(" "))
    print("Case #%d:" %(i+1), A+B)

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

### 11022 A+B-8

In [1]:
#A+B - 8
T=int(input())
for i in range(T):
    A,B=map(int,input().split(" "))
    print("Case #%d:"%(i+1),A,'+',B,'=',A+B)

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
4 5
Case #3: 4 + 5 = 9
5 6
Case #4: 5 + 6 = 11
7 8
Case #5: 7 + 8 = 15

### 2438 별 찍기 -1

In [9]:
#별찍기
T=int(input())

for i in range(T):
    for j in range(T):
        if i<j :
            print('',end='')
        else:
            print('*',end='')
    print('')

5
*
**
***
****
*****

### 2439 별 찍기 -2

In [23]:
#별찍기
T=int(input())

for i in range(1,T+1):
    print(" "*(T-i)+"*"*i)

5
    *
   **
  ***
 ****
*****

### 10871 X보다 작은수

In [3]:
#X보다 작은수
N,X = map(int, input().split())
A = list(map(int, input().split()))
    
for i in range(N):
        if A[i]<X:
            print(A[i],end=" ")

10 5
1 2 3 4 5 6 7 8 9 10
1 2 3 4

### 10952 A+B-5

In [13]:
#A+B-5 
while True:
    A,B = map(int, input().split())
    if A!=0 or B!=0 :
        print(A+B)

    if (A==0 and B==0) :
        break

0 0

### 10951 A+B-4

In [ ]:
while True:
    try:
        A,B = map(int,input().split())
        print(A+B)
    except:
        break

### 1110 더하기 사이클

In [1]:
#사이클
n = int(input())
count = 1
a = n
if a >= 10:
    a = ((a//10) + (a%10)) % 10 + ((a%10)*10)
else:
    a = a*10 + a
while True:
    if a == n:
        break
    elif a >= 10:
        a = ((a//10) + (a%10)) % 10 + ((a%10)*10)
    else:
        a = a*10 + a
    count += 1
print(count)

55
3